<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228650948983-2rus50q1aeov5rsf6rmggi7cv77c57lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228650948983-2rus50q1aeov5rsf6rmggi7cv77c57lt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228650948983-ti47nnf35uqokfj66o608rbcgmtccv1p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtrHRboziDgcbO959brd7I1Jw9qh1pC3g</string>
	<key>GCM_SENDER_ID</key>
	<string>228650948983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ac.ncl.rse.dolfin</string>
	<key>PROJECT_ID</key>
	<string>dolfin-ec4ba</string>
	<key>STORAGE_BUCKET</key>
	<string>dolfin-ec4ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228650948983:ios:2f7b5f0e02895679cc2972</string>
</dict>
</plist>